body{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
     background-color: lch(12.69% 2.02 19.86);
     color: #e6d1d1;
     text-align: center;
     border-radius: 0in;
}
u1{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.HIstoria-CONTAINER ,p{
    text-align: justify;
}
.elenco-container{
    display: flex;
}
.HIstoria-CONTAINER, img{
     border-radius: #0f0f0f;
}
.elenco-container,h2,p{
    text-align: center;
}
img{
    border-radius: 15px;
}
ul li a:hover{
    color: rgba(29, 31, 31, 0);
}

